{
	"path": "C:\\Programs (self-installed)\\Lc0\\lc0.exe",
	
	"options": {
		"Backend": "cudnn",
		"WeightsFile": "C:\\Programs (self-installed)\\Lc0\\networks\\T40.T8.610"
	},

	"width": 1280,
	"height": 800,
	"board_size": 640,

	"show_cp": true,
	"show_n": true,
	"show_p": true,
	"show_pv": true,

	"bad_cp_threshold": 20,
	"terrible_cp_threshold": 100,
	
	"max_info_lines": 10,
	"node_display_threshold": 0.05
}
