{
	"path": "C:\\Programs (self-installed)\\Lc0-cudnn\\lc0.exe",
	
	"options": {
		"Backend": "cudnn",
		"WeightsFile": "C:\\Programs (self-installed)\\Lc0-cudnn\\networks\\T40.T8.610"
	},

	"width": 1280,
	"height": 835,
	"board_size": 640,
	"mainline_height": 110,

	"rank_font": "18px Arial",

	"light_square": "#dadada",
	"dark_square": "#b4b4b4",
	"active_square": "#cc9966",

	"best_colour": "#66aaaa",
	"good_colour": "#66aa66",
	"bad_colour": "#cccc66",
	"terrible_colour": "#cc6666",

	"bad_move_threshold": 0.02,
	"terrible_move_threshold": 0.04,

	"node_display_threshold": 0.02,

	"max_info_lines": 10,
	"update_delay": 170,
	
	"logfile": null
}
