{
	"path": "C:\\Programs (self-installed)\\Lc0\\lc0.exe",
	
	"options": {
		"Backend": "cudnn-fp16",
		"WeightsFile": "C:\\Programs (self-installed)\\Lc0\\networks\\T40.T8.610"
	},

	"bad_cp_threshold": 10,
	"max_info_lines": 8,
	"node_display_threshold": 0.05,

	"board_size": 640,

	"show_cp": true,
	"show_n": true,
	"show_p": true,
	"show_pv": true
}
