body {
	background-color: black;
	border: 0;
	color: white;
	cursor: default;
	margin: 20px;
	overflow: hidden;
	padding: 0;
}

.row {
	display: flex;
}

.column {
	flex: 50%;
}

#canvas {
	float: left;
	margin-bottom: 1em;
	margin-right: 1em;
	user-select: none;
}

#infobox {
	color: #cccccc;
	font-family: monospace, monospace;
	overflow: hidden;
	white-space: pre-wrap;
}

#fenbox {
	background-color: black;
	border: none;
	caret-color: white;
	color: #6cccee;
	display: block;
	float: bottom;
	font-family: monospace, monospace;
	font-size: 100%;
}

input[type=text]:focus{
	outline: 2px dashed gray;
	outline-offset: 4px;
}

.black {
	color: #ffaaaa;
}

.white {
	color: #ffffff;
}

.tech {
	color: #6cccee;
}
