body {
	margin: 20px;
	border: 0;
	padding: 0;
	background-color: black;
	color: white;
	cursor: default;
	overflow: hidden;
}

#canvas {
	float: left;
	margin-right: 1em;
	margin-bottom: 1em;
}

#infobox {
	color: #cccccc;
	font-family: monospace, monospace;
	white-space: pre;
	overflow: hidden;
}

#fen {
	clear: both;
	color: #6cccee;
	font-family: monospace, monospace;
}

.black {
	color: #ff0000
}

.white {
	color: #ffffff
}