body {
	background-color: #080808;
	border: 0;
	color: #eeeeee;
	cursor: default;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.main {
	margin: 1em;
}

.row {
	display: flex;
}

#boardsquares {
	border-collapse: collapse;
	margin-right: 1em;
	margin-bottom: 1em;
	pointer-events: none;
	table-layout: fixed;
	user-select: none;
}

#canvas {
	pointer-events: none;
	position: fixed;
	user-select: none;
}

#boardfriends {
	border-collapse: collapse;
	position: fixed;
	table-layout: fixed;
	user-select: none;
}

td {
	border: 0;
	margin: 0;
	padding: 0;
}

img {
	display: block;
}

#pgnchooser {
	background-color: #080808;
	display: none;						/* better than visibility: hidden - never intercepts inputs */
	font-family: monospace, monospace;
	font-size: 100%;
	height: 100%;
	overflow-y: auto;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

#fenbox {
	background-color: #080808;
	border: none;
	caret-color: white;
	color: #6cccee;
	display: block;
	float: bottom;
	font-family: monospace, monospace;
	font-size: 100%;
	width: 100%;
}
input[type=text]:focus{
	outline: 2px dashed gray;
	outline-offset: 4px;
}

#infobox {
	color: #cccccc;						/* only used for Lc0 stderr output at startup */
	font-family: monospace, monospace;
	overflow: hidden;
	user-select: none;
	white-space: pre-wrap;
}

#movelist {
	font-family: monospace, monospace;
	margin-top: 1em;
	overflow-x: hidden;
	overflow-y: auto;
	user-select: none;
	white-space: pre-wrap;
}

a {
	color: inherit;
	text-decoration: inherit;
}

p {
	margin-top: 0;
	margin-bottom: 1em;
}

ul {
	list-style: none;
}

span.pink {
	color: #ffaaaa;
}

span.white {
	color: #eeeeee;
}

span.gray {
	color: #888888;
}

span.red {
	color: #dd7766;
}

span.yellow {
	color: #ffff00;
}

span.blue {
	color: #6cccee;
}

span.redback {
	background-color: #770000;
}

span.movelist_highlight_blue {
	color: #6cccee;
	background-color: #222244;
}

span.movelist_highlight_yellow {
	color: #ffff00;
	background-color: #444422;
}

span.nobr {
	white-space: nowrap;		/* Used for O-O and O-O-O moves */
}
