body {
	margin: 20px;
	border: 0;
	padding: 0;
	background-color: black;
	color: white;
	cursor: default;
	overflow: hidden;
}

#canvas {
	float: left;
	margin-right: 1em;
	margin-bottom: 1em;
	user-select: none;
}

#infobox {
	color: #cccccc;
	font-family: monospace, monospace;
	white-space: pre-wrap;
	overflow: hidden;
}

#fenbox {
	clear: both;
	background-color: black;
	border: none;
	color: #6cccee;
	font-family: monospace, monospace;
	display: block;
	width: 640px;
}

input[type=text]:focus{
	outline: 2px dashed gray;
	outline-offset: 4px;
}

.black {
	color: #ffaaaa;
}

.white {
	color: #ffffff;
}

.tech {
	color: #6cccee;
}
